<!DOCTYPE html>
<html>
<head>



    <title> My Blog Page </title>

	<meta name="author" content="your name" />
	<meta name="description" content="" />


	<link rel="stylesheet" href="post_list.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <meta charset="UTF-8">

</head>
<body>


	<div id="page">
		<div id="logo">
			<h1><a href="/" id="logoLink"> My Blog Page </a></h1>
		</div>



		<div id="nav">
			<ul>


                <li><a href="post_list.html"> Home  </a></li>
                <li><a href="postlist1.html"> Signup </a></li>
                <li><a href="postlist2.html"> Subjects </a> </li>
                <li><a href="postlist3.html"> Timetable </a></li>

			</ul>
		</div>






		<div id="content">
			<h2>This is a Sample Timetable Student Schedule.</h2>


			<p>To Begin you need to create an account.

			</p>
            <p> Select the classes you want to take. </p>
            <p> You can only take 18 credits. </p>
            <p> Classes are from Monday to Fridays. </p>
            <p> Please confirm the class time. </p>

            <p>

                Sign up/ Sign in To Continue.

            </p>
		</div>



		<div id="footer">
			<p>
				Webpage made by <a href="/" target="_blank">[emily]</a>
			</p>
		</div>


        <script src="js/jquery-3.1.1.js"></script>
        <script src="js/bootstrap.min.js"></script>
	</div>
</body>
</html>